body {
  background-color: tan;

}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

.header-row {
  background-color: seashell;
}

.search-column {
  background-color: orange;
}

.search-form-row {
  padding-bottom: 5px;
}

.favorites-column {
  background-color: salmon;
}

.adjust-margins {
  margin-top: 5px;
  margin-bottom: 5px;
}

.plot-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*-----------*/

.poster {
  max-height: 250px;
}
