body {
  background-image: url(../images/film-strip.jpeg);
  background-size: cover;
}

h1 {
  display: inline;
  background-color: white;
}

.row3 {
  margin-top: 10px;
}

.poster {
  height: 250px;
}
.searchTitle {
  margin-top: 0px;
  margin-bottom: 0px;
}

.subText {
  padding-left: 0px;
}

.searchBar {
  background-color: salmon;
}
