<!DOCTYPE html>
<html ng-app="pmdbApp">
  <head>
    <meta charset="utf-8">
    <title>PMDB - Personal Movie Database</title>
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/styles.css">

    <script src="vendors/angular/angular.min.js" charset="utf-8"></script>
    <script src="scripts/client.min.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Personal Movie Database</h1>
    <div ng-controller="InputController">
      <label for="title">Movie Title: </label><input ng-model="title" type="text" name="title" placeholder="Search by title">
      <button ng-click="searchOMDB(title)" class="btn btn-primary" type="button" name="search">Search OMDB</button><br>
      {{searchResults.response}}
    </div><!--end InputController-->
    <div ng-controller="OutputController">

    </div><!--end OutputController-->
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
