<!DOCTYPE html>
<html ng-app="pmdbApp">
  <head>
    <meta charset="utf-8">
    <title>PMDB - Personal Movie Database</title>
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="vendors/angular/angular.min.js" charset="utf-8"></script>
    <script src="scripts/client.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">
      <div ng-controller="InputController">
        <div class="row row1"><!--row 1-->
          <div class="col-md-12">
            <h1 class="text-center">Personal Movie Database</h1>
          </div>
        </div><!--end row 1-->
        <div class="row row2 text-center"><!--row 2-->
          <div class="col-md-12">
            <form class="omdbSearch">
              <span class="glyphicon glyphicon-film"></span>
              <input ng-model="title" type="text" name="title" placeholder="Search by Title">
              <input ng-click="searchOMDB(title)" type="submit" class="btn btn-primary" value="Search OMDB">
            </form>
          </div>
        </div><!--end row 2-->
        <div ng-show="searchResults.response.data.Title" class="row row3"><!--row 3-->
          <div class="col-md-6 text-right"><!--left half of searchResults-->
            <img class="poster" ng-src="{{searchResults.response.data.Poster}}">
          </div><!--end left half of searchResults-->
          <div class="col-md-6"><!--right half of searchResults-->
            <div class="row"><!--row 3.1-->
              <h2 class="searchTitle">{{searchResults.response.data.Title}}</h2>
            </div><!--end row 3.1-->
            <div class="row"><!--row 3.2-->
              <div class="col-md-8 subText">
                <p class="lead">Directed By: {{searchResults.response.data.Director}}</p>
                <p>Theatrical Release: {{searchResults.response.data.Year}}</p>
                <p>{{searchResults.response.data.Plot}}</p>
                <button ng-click="addToFavorites(searchResults.response.data)" class="btn btn-success" type="button" name="addToFavorites">Add to Favorites</button>
              </div>
            </div><!--end row 3.2-->
          </div>
        </div><!--end row 3-->
      </div><!--end InputController-->
      <div ng-controller="OutputController">

      </div><!--end OutputController-->
      <script src="//localhost:35729/livereload.js"></script>
    </div><!--end main container-->
  </body>
</html>
