<!DOCTYPE html>
<html ng-app="pmdbApp">
  <head>
    <meta charset="utf-8">
    <title>PMDB - Personal Movie Database</title>
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/styles.css">

    <script src="vendors/angular/angular.min.js" charset="utf-8"></script>
    <script src="scripts/client.min.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Weekend Challenge 5</h1>
    <div ng-controller="InputController">
      {{movieService.hello}}
    </div>
    <div ng-controller="OutputController">
      {{movieService.hello}}
    </div>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
